#content {
    max-width: 1600px;
    margin: 0 auto;
  }
  
  nav a,
  #hero-msg h1,
  #hero-msg h4,
  .button-box,
  main section {
    text-align: center;
  }
  
  #background {
    height: 725px;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #333333;
  }
  
  nav a:hover {
    background-color: #ff0000;
  }
  
  .book, .join {
    background-color: #66ccff;
  }
  
  .book:hover, .join:hover {
    background-color: #ff9900;
  }
  
  #background {
    background-color: #dddddd;
  }
  
  .msg {
    background-color: #ffffff;
  }
  
  footer {
    background-color: #222222;
  }
  
  nav a {
    color: #333333;
  }
  
  nav a:hover {
    color: #ffffff;
  }
  
  .home-title {
    color: #000000;
  }
  
  h4 {
    color: #000000;
  }
  
  .book, .join {
    color: #000000;
  }
  
  .book:hover, .join:hover {
    color: #ffffff;
  }
  
  .msg h2 {
    color: #0000ff;
  }
  
  .msg p {
    color: #666666;
  }
  
  footer {
    color: #ffffff;
  }
  
  footer a {
    color: #00ff00;
  }
  
  footer a:hover {
    color: #ff00ff;
  }
  
  .logo, .icon {
    width: 80px;
  }
  
  #hero-img {
    width: 100%;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }
  
  footer p {
    font-size: 1.2em;
  }
  
  nav a, .book, .join, footer a {
    text-decoration: none;
  }